<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1>What Attainist Does</h1>

			<p> The keys to learning any new skill are daily repetition, and the motivation to keep going until you’re proficient. I see this with myself, and I see this with my students. The difference between a high school music teacher and concert violinist isn’t natural ability. It’s the drive to keep going hour after hour, day after day, until you hit the level that you’re looking for.
			</p>

			<p> At attainist we’ve combined these two keys into one convenient and easy-to-use application. Just input what you want to learn, and then track the progress that you make towards each of these goals every time you log into the site. The goal is to make some progress every day, but I realize that life is busy, and things don’t necessarily happen every day. That’s what attainist is here for. As you’re learning, it will keep track of what kind of progress you’re making towards different goals, and remind you if, for instance, you haven’t practiced guitar all week.
			</p>	

			<p>
			At the end of the week, attainit will send you a customized email detailing what you’ve accomplished that week. This is where the second key comes in. A big part of keeping your motivation up when you’re learning something new and difficult is being able to feel proud of yourself when you see how far you’ve come. Like a mountain climber being able to look back at the ground below him, seeing that you’ve already made significant progress provides you with the push to keep going when you feel like you’re stuck in the woods. 
			</p>

			<p>
			During my days as a high school teacher, I saw this all the time. My students who have the motivation and perseverance to keep at it hour after hour and day after day are the ones who make good marks. 
			</p>

			<p>
			I think back to French class my first semester of college. At the end of the semester, I remember feeling frustrated that I’d been studying so hard all semester and I still couldn’t speak French. And my professor reminded us to think about where we were on the first day of class, when we couldn’t introduce ourselves, and compare that to where we were at the end of the semester. Not exactly speaking fluently, but at least able to string together a couple of broken sentences. 
			</p>

			<p>
			That is what attainist is here to do. Attain your goals with attainist. 
			</p>
		</div>
	</div>
</div>