<div class="main container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="center jumbotron">
			  <h1>Learn Better</h1>

			  <h2>
			    Learning something new? Stay motivated with attainist. It's completely free. All it needs is five minutes of your time. 
			  </h2>

			  <%= link_to "Get Started!", new_user_registration_path , class: "btn btn-large btn-primary home-btn-first" %> 
			  <%= link_to "More About Us", about_path , class: "btn btn-large btn-primary" %> 
			</div>
		</div>
	</div>
</div>
