<div class="center hero-unit">
  <h1>Learn Better</h1>

  <h2>
    Learning something new? Stay motivated with learnist. Its completely free. All it needs is five minutes of your time. 
  </h2>

  <%= link_to "Get Started!", new_user_registration_path , class: "btn btn-large btn-primary" %> 
  <%= link_to "More About Us", about_path , class: "btn btn-large btn-primary" %> 
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>