<title>New User</title>
<h1>Step 1. Sign Up</h1>
<div class="row">
	<div class="span6 offset3">
		<%= form_for(@user) do |f| %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :email %>
		<%= f.text_field :email %>

		<%= f.label :password %>
		<%= f.text_field :password %>

		<%= f.label :password_confirmation %>
		<%= f.text_field :password_confirmation %>

		<%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
