<div class="container">
	<div class="row">
		<p>Welcome to your profile <%= @user.name %></p>
		<p>What are you learning?</p>
	</div>
	<div class="row">
	<div class="span6 offset3">
		<%= form_for(@thing) do |f| %>

		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.submit "Add New Goal", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>

</div>
