// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//just making a change for heroku's sake

.jumbotron { 
	background-size: cover;
	opacity: 0.8;
	width: 80%;
	margin: 30px auto 0 auto;

	.btn {
		background-color: blue;
		border-radius: 25px;
		padding: 10px 20px;
		text-align: center;
		margin: 0 20px;
		transition: background-color 1s, transform 1s;
	}

	.btn:hover {
		transform: scale(1.2);
		background-color: hsl(173,58%,50%);
	}
}

.main {
	background: linear-gradient(to bottom, blue, white);
	//background-image: url('images/clouds.jpg'); 
	background-size: cover;
	margin-top: -25px;
	width: 100%;
	padding: 20px;
	height: 100vh;
}

.container {
	width: 100vh;
}

.devise-form {
	border: solid 1px grey;
	padding: 15px;
	border-radius: 10px;

	* {
		padding-top: 3px;
	}
}