<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
	<div class="container">
	  <%= link_to "Learnist", '#', id: "logo" %>
	  <nav>
		<ul class="nav pull-right">
			<% if user_signed_in? %>
				<li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
				<li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
			<% else %>
				<li><%= link_to 'Sign Up', new_user_registration_path %></li>
				<li><%= link_to 'Sign In', new_user_session_path %></li>
			<% end %>
		  <li><%= link_to "Home", root_path %></li>
		  <li><%= link_to "About", about_path %></li>

		</ul>
	  </nav>
	</div>
  </div>
</header>